<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font-awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body class="">

    <nav class="mainNav">
        <div class="container mainNavWrap">
            <div class="row">
                <ul class="mainNavRepaierUl">
                    <li>Təmirçi:</li>
                    <li>Əli Məmmədov</li>
                </ul>
                <ul class="mainNavBarUL">
                    <li>
                        <i class="fa fa-cog"></i>
                    </li>
                    <li>
                        <i class="fa fa-power-off"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="main">
        <div class="col-sm-2 mainLeftWrapCol">
            <div class="mainLeftWrap">
                <ul class="mainLeftUl">
                    <li class="mainLeftLi mainLeftLiActive">
                        <i class="fa fa-user"></i> Hazırkı təmirlər</li>
                    <li class="mainLeftLi">
                        <i class="fa fa-calendar"></i> Tarixçə</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="mainRightBar">

            </div>
        </div>
    </section>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery library -->
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap JavaScript -->
</body>

</html>