<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Müştərilər</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font-awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- DataTable CSS -->
    <link rel="stylesheet" href="datatables.css">
</head>

<body class="">

    <nav class="mainNav">
        <div class="container mainNavWrap">
            <div class="row">
                <ul class="mainNavRepaierUl">
                    <li>Menecer:</li>
                    <li>Əli Məmmədov</li>
                </ul>
                <ul class="mainNavBarUL">
                    <li>
                        <i class="fa fa-cog"></i>
                    </li>
                    <li>
                        <i class="fa fa-power-off"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="main">
        <div class="col-sm-2 mainLeftWrapCol">
            <div class="mainLeftWrap">
                <ul class="mainLeftUl">
                    <li class="mainLeftLi">
                        <a href="">
                            <i class="fa fa-user"></i> Təmirçilər
                        </a>
                    </li>
                    <li class="mainLeftLi">
                        <a href="">
                            <i class="fa fa-calendar"></i> Yeni təmirçi yarat
                        </a>
                    </li>
                    <li class="mainLeftLi">
                        <a href="">
                            <i class="fa fa-calendar"></i> Yeni təmir işi yarat
                        </a>
                    </li>
                    <li class="mainLeftLi mainLeftLiActive">
                        <a href="">
                            <i class="fa fa-calendar"></i> Müştərilər
                        </a>
                    </li>
                    <li class="mainLeftLi">
                        <a href="">
                            <i class="fa fa-calendar"></i> Tarixçə
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="mainRightBar">
                <div class="clientsWrap">
                    <br>
                    <h3>Müştərilər</h3>
                    <div class="tableWrap">
                        <table id="myTable" class="display">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ad / Soyad</th>
                                    <th>Əlaqə</th>
                                    <th>Fin</th>
                                    <th>E-mail</th>
                                    <th>Tamamlanmış təmirlər</th>
                                    <th>Davam edən təmirlər</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Əli Məmmədov</td>
                                    <td>050 555 55 55</td>
                                    <td>AZ123456</td>
                                    <td>client@gmail.com</td>
                                    <td>5</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery library -->
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <!-- QR JavaScript -->
    <script src="qrcode.js"></script>
    <!-- QR JavaScript -->
    <!-- DataTable JavaScript -->
    <script type="text/javascript" charset="utf8" src="datatables.js"></script>
    <!-- DataTable JavaScript -->
    <script>
        $('#myTable').DataTable();
    </script>
    <!-- Custom JavaScript -->
    <script src="custom.js"></script>
    <!-- Custom JavaScript -->

</body>

</html>